
body {
	background-color: #eee;
}

.container {
	width: 560px;
	background-color: #fff;
	margin: 0 auto;
}

header,
section {
	position: fixed;
	text-align: center;
	width: 560px;
	background-color: #fff;
}

section {
	top: 70px;
}
